.footer {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
    justify-content: flex-end;
    align-items: center;

    &::after {
        content: "";
        background-image: url("../../assets/Background-Contact-Form.jpg");
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .footer-bottom {
        position: absolute;
        bottom: 1vh;
        left: 50%;
        font-size: 18px;
        color: #3c3c3c;
        padding: 0.5rem;
    }

    .footer-social {
        position: absolute;
        bottom: 1vh;
        right: 10%;

        img {
            padding: 0.5rem;
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        color: #3c3c3c;

        #send {
            display: flex;
            width: 60%;
            justify-content: flex-end;
        }

        button {
            color: #3c3c3c;
            cursor: pointer;
            background-color: white;
            border: 0.75px solid #3c3c3c;
            font-size: 18px;
            padding: 1rem 3rem 1rem 3rem;
            margin-right: 10px; // do zmiany
        }

        h1 {
            font-size: 38px;
        }

        img {
            padding: 2rem;
        }

        form {
            display: flex;
            padding: 1rem;
            width: 60%;
            justify-content: space-between;

            div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-size: 16px;
                font-weight: bold;
                width: 45%;
            }
        }

        input,
        textarea {
            border: 0;
            border-bottom: 1px solid #707070;
            padding-top: 1rem;
            width: 100%;
            font-size: 18px;
            font-family: $font-base;

            &::placeholder {
                color: #3c3c3c26;
                font-size: 18px;
            }
        }

        .message {
            display: flex;
            flex-direction: column;
            width: 60%;
            padding: 1rem;
            font-weight: bold;
        }

        textarea {
            height: 13vh;
            resize: none;
        }
    }
}
