.who-we-help {
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    color: #3c3c3c;

    h1 {
        text-align: center;
        font-size: 38px;
        padding: 4rem 0 2rem 0;
    }

    .help-buttons {
        display: flex;
        width: 50vw;
        justify-content: space-between;
        padding-top: 2rem;

        button {
            color: #3c3c3c;
            cursor: pointer;
            background-color: white;
            border: 0.75px solid transparent;
            width: 25%;
            font-size: 24px;
            text-align: center;
            padding: 1rem;
        }

        .btn-active {
            border: 0.75px solid #3c3c3c;
        }
    }

    .help-desc {
        width: 35vw;
        text-align: center;
        padding: 4rem 0 4rem 0;

        span {
            line-height: 2rem;
            font-size: 22px;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        width: 60vw;
        font-family: $font-alt;
        font-weight: 300;

        hr {
            width: 100%;
        }

        .list-item {
            padding: 1rem 0 1rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: 26px;
                padding: 0;
            }

            .left-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                p {
                    font-size: 18px;
                    padding-top: 1rem;
                    font-style: italic;
                }
            }

            .right-item {
                p {
                    font-size: 18px;
                }
            }
        }
    }

    .numbers {
        display: flex;
        padding: 2rem;

        li {
            cursor: pointer;
            padding: 1rem;
            margin: 0.5rem;
            border: 0.75px solid #3c3c3c;
        }
    }
}
